/* This is a CSS file */

#sen{
  color:white;
}
#seno{
  background-color:firebrick;
}
.btn{
  margin-bottom:3%;
  text-decoration: none;
  background-color: rgb(177, 19, 19);
}
.btn:link{
  color: white;
}
#titadm{
  color:white;
}
#header{
  background-color:firebrick;
}
#mbody{
  background-image: url("img/admpronto.jpg");
}
#admpronto{
  width: 100%;
  /* margin-top: 0; */
  margin-bottom: 10px;
}
hr{
   border: 1px solid lightslategrey;
}
img{
  margin-top: 0;
}