/**/

#navbar{
  background-color: firebrick;
}
#toolbar{
  background-color: darkred;
  position: fixed;
  height: 6%;
}
#menu{
  background-color: darkred;
}
#menu2{
  background-color: darkred;
}
#mapa{
  background-color: firebrick;
}
#map{
  width: 100%;
  height: 100%;
}
iframe{
  width: 100%;
  height: 400px;
}
#cursos{
  background-color: firebrick;
}